---
layout: layout
---

<%= partial(:top_navbar, :locals => { :page_not_found_active => 'active', :lang_hidden => true }) %>

<div id="no-sidenav-container" class="container">
  <section>
    <div class="page-header">
      <h1>404</h1>
    </div>
    <p class="lead">Sorry, this page doesn't exist :(</p>
    <p class="lead">You should try <a href="/">checking out the homepage</a>.</p>
  </section>

  <section>
    <div class="page-header">
    </div>
    <p class="lead">Desculpa, essa página não existe :(</p>
    <p class="lead">Tente acessar a <a href="/pt">página principal</a>.</p>
  </section>
</div>
